<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div th:if="${jobs} and ${jobs.size()}">
        <div th:each="job : ${jobs}">
            <table  class="job-listing">
                <tr th:each = "map : ${job}">
                    <td th:text = "${#strings.capitalizeWords(map.key)}"></td>
                    <td th:if = "${map.key} != 'name'">
                        <a th:href="@{/list/jobs(column=${map.key},value=${map.value})}" th:text = "${map.value}"></a>
                    </td>
                    <td th:unless = "${map.key} != 'name'" th:text = "${map.value}">
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>